:80

handle /api/* {
    reverse_proxy localhost:8081
}

handle /ws/* {
    reverse_proxy localhost:8081
}

handle {
    root * /app/frontend
    try_files {path} {path}/ /index.html
    file_server
}
